


.footer-holder{
    display: flex;
    /* background-color: blue; */
    border-style: solid;
    border-width: 0;
    border-top-width: 1px;
    margin-top: 60px;
}
.footer-left{
    width: 100%;
}
.footer-right{
    /* padding: 40px 0px; */
    /* background-color: red; */
    border-style: solid;
    border-width: 0;
    border-left-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
    width: 100%;
}

.links-holder{
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.other-link{
    margin: 0 50px;
    text-decoration: none;
    padding: 0px 10px;
    color: rgb(160, 160, 160);
    transition-duration: .4s;
    border-radius:200px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: green; */
}

.navLink{
    font-family: 'Gupter';
    

}

.navLink-facebook{
    text-decoration: none;
    font-family: 'Gupter';
    color: rgb(160, 160, 160);
    padding: 10px 10px;


}

.navLink-facebook:hover{
    color: black;
    transition-duration: .4s;

}
